<%- include('../includes/head', {pageTitle: 'Login'}) %>
<link rel="stylesheet" href="styles/form.css">
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Sign In</h1>
        <form method="POST" action="/login">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <div class="form-element">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= email %>" required>
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= password %>" required>    
            </div>
            <% if (errorMessage !== '') { %>
             <p class="error"><%= errorMessage %></p>
            <% } %>
            <div class="form-element">
                <button type="submit" class="btn"> Login </button>
                <a href="/signup">Create an Account</a>
            </div>
        </form>
    </main>
</body>
</html> 