<%- include('../includes/head', {pageTitle: 'Inventory'}) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/product-management.js" defer></script>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Inventory</h1>
        <a href="/admin/new-product" class="btn anchor">New Product</a>
        <ul id="products-list">
            <% for(const product of products) { %>
                <li class="product-item">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">

                    <div class="product-content">
                        <div class="product-details">
                            <p><%= product.title %></p>
                        </div>
                    
                        <div class="product-actions">
                            <a href="/admin/products/update/<%= product._id.toString()%>" class="btn">Edit</a>
                            <button class="btn" data-id= <%= product._id.toString()%> data-csrf=<%= locals.csrfToken %>>Delete</button>
                        </div> 
                    </div>
                </li>
            <% } %>  
        </ul>
        
    </main>
</body>
</html> 