<%- include('../../includes/head', {pageTitle: 'Our Products'}) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
    <%- include('../../includes/header') %>
    <main>
        <h1>Our Products</h1>
        <ul id="products-list">
            <% for(const product of products) { %>
                <li class="product-item">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">

                    <div class="product-content">
                        <div class="product-details">
                            <p><%= product.title %> - <%= product.price %>$ </p>
                        </div>
                    
                        <div class="product-actions">
                            <a href="/products/view/<%= product._id.toString()%>" class="btn">View</a>
                            <button class="btn" data-id=<%= product._id.toString()%> data-csrf=<%= locals.csrfToken %>>Add to Cart</button>
                        </div> 
                    </div>
                </li>
            <% } %>  
        </ul>
        
    </main>
</body>
</html> 